*{
    padding: 0;
    margin: 0;
    list-style: none;

}


body{
    height: 100vh;
    background-color: #dbd7d7;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.containerView{
    height: 100%;
    width: 100%;
    background-color: #0c0c0c;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top:0;
}


.contentButtons{
    display: none;
    z-index: 10;
}

.point{
    background-color: blue;
    width: 2%;
    height: 4%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 0px 5px blue,0px 0px 5px blue;
}

.element{
    background-color: rgb(10, 193, 50);
    position: absolute;
    width: 1.7%;
    height: 4%;
    padding: 0 .1%;
    z-index: 2;
    margin: 0;
    /* animation: move 20s ease infinite ; */
}

.element:nth-child(2){
    position: absolute;
    top: 51.8%;/*3*/
    /* animation: move 20s ease infinite ; */
}

.element:first-child{
    position: absolute;
    top: 48.2%;
    z-index: 3; 
    /* animation: move 20s ease infinite ; */
}

.element:first-child::after{
    content: '';
    width: 30%;
    height: 30%;
    background-color: #0c0c0c;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 100%;
}

.element:first-child::before{
    content: '';
    width: 30%;
    height: 30%;
    background-color: #0c0c0c;
    position: absolute;
    top: 10%;
    right: 10%;
    border-radius: 100%;
}

.content{
    position: absolute;
    top: 2%;
    right: 2%;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 4;
}

.content h2{
    color: white;
    font-family: sans-serif;
    font-size: clamp(10px, 1.3vw, 49px);
}

.content strong{
    color: lime;
    font-family: sans-serif;
    font-size: clamp(10px, 1.3vw, 49px);
}


@media (max-width: 1000px) {
    
    .point{
        width: 18px;
        height: 18px;    
    }

    .element{
        width: 18px;
        height: 18px;    
    }

}

@media (max-width: 760px) {

    
    .point{
        width: 16px;
        height: 16px;    
    }

    .element{
        width: 16px;
        height: 16px;    
    }

}

@media (max-width: 540px) {
    
    .contentButtons{
        width:30%;
        height:20%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:absolute;
        bottom:10%;
        right: 5%;
        z-index: 5;
    }
    
    .contentButtons div{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    
    
    .contentButtons button{
        outline: none;
        border: none;
       background:#222222;
       width: 20%;
       height: 100%;
       display:flex;
       align-items: center;
       justify-content: center;
       color:White;
       cursor: pointer;
       border-radius: 100%;
       font-size: 12px;
    }
    
    .contentButtons span:hover{
        background-color: rgb(34, 34, 34, .8);
    }
    

    .point{
        width: 15px;
        height: 15px;    
    }

    .element{
        width: 15px;
        height: 15px;    
    }

}

@media (max-width: 380px) {
    
    .contentButtons{
        width:50%;
        height:20%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:absolute;
        bottom:10%;
        right: -2%;
        z-index: 5;
    }

    .point{
        width: 12px;
        height: 12px;    
    }

    .element{
        width: 12px;
        height: 12px;    
    }

}

@media (max-width: 300px) {
    
    .contentButtons{
        width:60%;
        height:18%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:absolute;
        bottom:7%;
        right: -2%;
        z-index: 5;
    }

    .contentButtons button{
        outline: none;
        border: none;
        background:#222222;
        width: 20%;
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        color:White;
        cursor: pointer;
        border-radius: 100%;
        font-size: 10px;
        padding: 0% 6%;
     }


}


@media (max-width: 200px) {
    
    .contentButtons{
        width:80%;
        height:18%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:absolute;
        bottom:7%;
        right: -7%;
        z-index: 5;
    }

    .contentButtons button{
        outline: none;
        border: none;
        background:#222222;
        width: 20%;
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        color:White;
        cursor: pointer;
        border-radius: 100%;
        font-size: 10px;
        padding: 0% 8%;
     }


}